<?xml version='1.0' standalone='yes'?>
<!DOCTYPE PLUGIN>

<PLUGIN 
  name="plugin-diagnostics"
  author="Derek Kaser"
  version="{{ env['PLUGIN_VERSION'] }}"
  pluginURL="https://raw.githubusercontent.com/dkaser/unraid-plugin-diagnostics/main/plugin/plugin-diagnostics.plg"
  support="https://forums.unraid.net/topic/174968-support-plugin-diagnostics/"
  min="6.11.5"
  icon="fa-wrench"
>

<CHANGES>
<![CDATA[
###{{ env['PLUGIN_VERSION'] }}###
{{ env['PLUGIN_CHANGELOG'] }}

For older releases, see https://github.com/dkaser/unraid-plugin-diagnostics/releases
]]>
</CHANGES>

<FILE Name="/boot/config/plugins/plugin-diagnostics/unraid-plugin-diagnostics-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz">
<URL>https://github.com/dkaser/unraid-plugin-diagnostics/releases/download/{{ env['PLUGIN_VERSION'] }}/unraid-plugin-diagnostics-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz</URL>
<SHA256>{{ env['PLUGIN_CHECKSUM'] }}</SHA256>
</FILE>

<!--
The 'install' script.
-->
<FILE Run="/bin/bash">
<INLINE>
<![CDATA[
upgradepkg --install-new /boot/config/plugins/plugin-diagnostics/unraid-plugin-diagnostics-{{ env['PLUGIN_VERSION'] }}-noarch-1.txz

# cleanup old versions
rm -f $(ls /boot/config/plugins/plugin-diagnostics/unraid-plugin-diagnostics-*.txz 2>/dev/null | grep -v '{{ env['PLUGIN_VERSION'] }}')

echo "VERSION={{ env['PLUGIN_VERSION'] }}" > /usr/local/emhttp/plugins/plugin-diagnostics/version.ini

echo ""
echo "----------------------------------------------------"
echo " plugin-diagnostics has been installed."
echo " Version: {{ env['PLUGIN_VERSION'] }}"
echo "----------------------------------------------------"
echo ""
]]>
</INLINE>
</FILE>

<!--
The 'remove' script.ßßßß
-->
<FILE Run="/bin/bash" Method="remove">
<INLINE>
<![CDATA[
removepkg unraid-plugin-diagnostics

rm -rf /usr/local/emhttp/plugins/plugin-diagnostics
rm -rf /boot/config/plugins/plugin-diagnostics
]]>
</INLINE>
</FILE>

</PLUGIN>
